html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(90, 141, 90);
    min-height: 100%;
    position: relative;
}

.form-container {
    position: absolute;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    left: 34%;
    top: 30%;
    border: 2px solid black;
}

label, input {
    display: block;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: white;
    /* border: 2px solid black; */
}



/* input:not(:focus):not(:placeholder-shown):valid */